  
	    <!--  ********** HEADER SECTION ********** -->
		<div id="h">
			<div class="container">
				<div class="row centered">
					<h1><%= SITE_TITLE %></h1>
					 <input type="text" id="user-caption" style="display: none;" value="pizzu, taxi, rezervovat stůl? Napíšu na" />
					<h2><span id="caption"></span><span id="cursor">|</span></h2>
<h3><%= TEL_NUMBER %></h3>


				<div class="col-md-6 col-md-offset-3 mt">

<!--


 <%= form_tag '/interested' do %>
		    				<%= email_field_tag 'email', nil, placeholder: 'Napište prosím Váš e-mail a začněte ...', class: 'subscribe-input' %>
							<%= submit_tag 'Ano, chci', class: 'btn btn-lg btn-green subscribe-submit' %>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
-->


					</div>
	
				</div><!--/row -->
			</div><!-- /container -->
		</div><!--/header-->





	    <!--  ********** GREEN SECTION ********** -->
		<div id="g">
			<div class="container">
				<div class="row mt">
					<div class="col-md-6 centered">


						<a href="#" data-featherlight="assets/img/iPhone-white.png"><img src="assets/img/iPhone-white.png" id="mylightbox" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left"></a>
					</div><!--/col-md-6 -->
					
					<div class="col-md-4" data-effect="slide-right">
						<h2>Potřebujete něco zařídit?</h2>
						<p>S námi to vše zvládnete bez starostí a dlouhého hledání. Jsme váš osobní asistent, kamarád na telefonu a přítel, který je vždy online. 24 hodin denně, 7 dnů v týdnu. Stačí jen napsat SMS na naše číslo <a href="sms://<%= TEL_NUMBER %>"><%= TEL_NUMBER %></a>.</p>
					</div><!--/col-md-4 -->
					
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/G -->

		
	    <!--  ********** RED SECTION ********** -->
		<div id="r">
			<div class="container">
				<div class="row mt">
					<div class="col-md-4 col-md-offset-2" data-effect="slide-left">
						<h2>Vyřešíme</h2>
						<p>Objednáme vám pizzu, seženeme taxi nebo lístky do kina. Zařídíme hlídání dětí a doručíme květiny vaší drahé polovičce. Zarezervujeme stůl v restauraci, objednáme nákup, seženeme kadeřníka, instalatéra i malíře pokojů. Víme, kam zajít na koncert a kde skvěle vaří. Zařídíme, vyřešíme, najdeme a nakoupíme cokoli, zatímco vy se můžete věnovat příjemnějším záležitostem. Naši zkušení operátoři jsou připraveni vám splnit jakékoli přání – na počkání</p>
					</div><!--/col-md-4 -->
					<div class="col-md-6 centered">
						<a href="#" data-featherlight="assets/img/iPhone-green.png"><img src="assets/img/iPhone-white.png" id="mylightbox" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-right"></a>
					</div><!--/col-md-6 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/R -->

	    <!--  ********** BLUE SECTION ********** -->
		<div id="b">
			<div class="container">
				<div class="row mt">
					<div class="col-md-6 centered">
						<a href="#" data-featherlight="assets/img/iPhone-red.png"><img src="assets/img/iPhone-white.png" id="mylightbox" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left"></a>
					</div><!--/col-md-6 -->
					
					<div class="col-md-4" data-effect="slide-right">
						<h2>Bezpečně a rychle</h2>
						<p>Poté, co se s naším operátorem domluvíte na objednávce, obdržíte od nás v textové zprávě odkaz na zabezpečenou platební bránu, kde provedete platbu – bez nutnosti registrace, rychle a bezpečně. Po zaplacení vám zašleme potvrzení a pak už se vaše přání vyplní.</p>
					</div><!--/col-md-4 -->
					
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/B -->

	 

	<div id="w">






			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>K čemu můžu službu CHCI využít?</h2>
						<p>Chtít a mít čas to zařídit – to jsou dvě různé věci. Jistě víte, jak dlouho to trvá, když potřebujete něco sehnat, vyřešit, koupit nebo objednat. Pizza, rezervace v restauraci, lístky do kina, do divadla i na koncert – to pro nás není žádný problém. Chcete vymalovat byt, opravit kapající kohoutek, koupit nový mobil nebo naplánovat dovolenou? Jistě, zařídíme. Chcete překvapit partnera či partnerku masáží, lahví karibského rumu nebo jízdou na slonovi? Uděláme pro to vše.  A umíme toho mnohem víc, zkuste to!<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

	<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Jak služba CHCI funguje, když něco chci?</h2>
						<p>Jednoduše nám napíšete SMS se svým přáním. Naši operátoři (jsou to přátelští, komunikativní a hlavně živí lidé, žádní roboti) si s vámi váš požadavek potvrdí a následně jej vyřeší. Jsou to vlastně vaši osobní asistenti, vědí, kde se zrovna něco děje, čtou za vás recenze a umí najít to nejlepší, nejlevnější (ale pokud budete chtít, tak i to nejdražší) zboží. Abyste mohli službu využívat, potřebujete mobilní telefon s internetem a platební kartu. Služba CHCI funguje po celé ČR nonstop.<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Kolik mě to bude stát?</h2>
						<p  >Služba CHCI je pro vás zcela zdarma.
<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Jak objednávku zaplatím?</h2>
						<p>Po potvrzení objednávky obdržíte v SMS odkaz na zabezpečenou platební bránu, kde provedete platbu. Bez nutnosti registrace, rychle a bezpečně. Údaje o vaší kartě nikde nevidíme a nikam neukládáme.<p/>


					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->


    <!--  ********** FOOTER SECTION ********** -->		
		<div id="f">
			<div class="container">
				<div class="row centered mtb">
					<h3>Napište nám na <a href="sms://<%= TEL_NUMBER %>"><%= TEL_NUMBER %></a> nebo si nechte zaslat kontakt emailem</h3>
					<div class="col-md-5 col-md-offset-5 mt" data-effect="slide-bottom">




 <%= form_tag '/interested' do %>
		    				<%= email_field_tag 'email', nil, placeholder: 'Napište váš e-mail', class: 'subscribe-input' %>
							<%= submit_tag 'Zaslat kontakt', class: 'btn btn-lg btn-green subscribe-submit' %>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
					</div>
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/F -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="assets/js/jquery.unveilEffects.js"></script>


<script src="assets/js/typed.min.js"></script>
<script>
 var captionLength = 0;
var caption = '';


$(document).ready(function() {
    setInterval ('cursorAnimation()', 800);
    captionEl = $('#caption');
    testTypingEffect(); 

   
});

function testTypingEffect() {
    caption = $('input#user-caption').val();
    type();
}

function type() {
    captionEl.html(caption.substr(0, captionLength++));
    if(captionLength < caption.length+1) {
        setTimeout('type()', 80);
    } else {
        captionLength = 0;
        caption = '';
    }
}

function testErasingEffect() {
    caption = captionEl.html();
    captionLength = caption.length;
    if (captionLength>0) {
        erase();
    } else {
        $('#caption').html("You didn't write anything to erase, but that's ok!");
        setTimeout('testErasingEffect()', 1000);
    }
}

function erase() {
    captionEl.html(caption.substr(0, captionLength--));
    if(captionLength >= 0) {
        setTimeout('erase()', 50);
    } else {
        captionLength = 0;
        caption = '';
    }	
}

function cursorAnimation() {
    $('#cursor').animate({
        opacity: 0
    }, 'fast', 'swing').animate({
        opacity: 1
    }, 'fast', 'swing');
}
</script>

<script src="//cdn.rawgit.com/noelboss/featherlight/1.2.3/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<link href="//cdn.rawgit.com/noelboss/featherlight/1.2.3/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />



