  
	    <!--  ********** HEADER SECTION ********** -->
		<div id="h">
			<div class="container">
				<div class="row centered">
					<h1><%= SITE_TITLE %></h1>
					 <input type="text" id="user-caption" style="display: none;" value="<%= raw SITE_BLURB %>" />
					<h2><span id="caption"></span><span id="cursor">|</span></h2>



				<div class="col-md-6 col-md-offset-3 mt">




 <%= form_tag '/interested' do %>
		    				<%= email_field_tag 'email', nil, placeholder: 'Napište prosím Váš e-mail', class: 'subscribe-input' %>
							<%= submit_tag 'Ano, prosím', class: 'btn btn-lg btn-green subscribe-submit' %>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
					</div>
	
				</div><!--/row -->
			</div><!-- /container -->
		</div><!--/header-->





 <!--  ********** WHITE SECTION ********** -->
		<div id="cta">
<div class="container">
				<div class="row centered mtb">
					<h2>Jak to funguje?</h2>

				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->


	    <!--  ********** GREEN SECTION ********** -->
		<div id="g">
			<div class="container">
				<div class="row mt">
					<div class="col-md-6 centered">
						<img src="assets/img/iPhone-white.png" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
					</div><!--/col-md-6 -->
					
					<div class="col-md-4" data-effect="slide-right">
						<h1>1</h1>
						<p>Chcete objednat pizzu, taxi nebo lístky do kina? Chcete ušetřit spoustu času nebo se nechat inspirovat? Napište nám své přání a my vám jej splníme. Zaměstnáváme trénované asistenty, kteří jsou tu pro Vás 24 hodin denně, 7 dní v týdnu.</p>
					</div><!--/col-md-4 -->
					
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/G -->

		
	    <!--  ********** RED SECTION ********** -->
		<div id="r">
			<div class="container">
				<div class="row mt">
					<div class="col-md-4 col-md-offset-2" data-effect="slide-left">
						<h1>2</h1>
						<p>Objednáme za Vás taxi, donášku jídla domů, rezervujeme stůl v restauraci, noc v hotelu nebo koupíme lístky do kina či divadla. Známe kulturní přehledy, víme co se kde hraje, kde je nejlepší restaurace. Umíme rezervovat stůl pro dva nebo naplánovat celé rande.</p>
					</div><!--/col-md-4 -->
					<div class="col-md-6 centered">
						<img src="assets/img/iPhone-green.png" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-right">
					</div><!--/col-md-6 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/R -->

	    <!--  ********** BLUE SECTION ********** -->
		<div id="b">
			<div class="container">
				<div class="row mt">
					<div class="col-md-6 centered">
						<img src="assets/img/iPhone-red.png" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
					</div><!--/col-md-6 -->
					
					<div class="col-md-4" data-effect="slide-right">
						<h1>3</h1>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div><!--/col-md-4 -->
					
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/B -->

	 
		
	    <!--  ********** FOOTER SECTION ********** -->		
		<div id="f">
			<div class="container">
				<div class="row centered mtb">
					<h3>Přihlaste se na čekací listinu ještě dnes</h3>
					<div class="col-md-6 col-md-offset-3 mt" data-effect="slide-bottom">




 <%= form_tag '/interested' do %>
		    				<%= email_field_tag 'email', nil, placeholder: 'Napište prosím Váš e-mail', class: 'subscribe-input' %>
							<%= submit_tag 'Ano, chci', class: 'btn btn-lg btn-green subscribe-submit' %>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
					</div>
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/F -->

	<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>K čemu CHCI slouží?</h2>
						<p  >Šetříme Váš čas. Naší asistenti za Vás vyřeší bez námahy situace, které by jste jinak museli řešit sami. Ať už se jedná o to, že potřebujete zajistit rezervaci v restauraci nebo si chcete bez námahy objednat lístky do kina či objednat pobyt v hotelu, jsme tu pro Vás. Za Vás hledáme na internetu ty nejlepší služby, čteme recenze, porovnáváme na srovnávačích cen a známe kulturní programy. S námi se domluvíte jednoduše přes SMS. Takhle můžete mít přístup k jakémukoliv přání kdekoliv a kdykoliv<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

	<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Jak rychle objednanou službu dostanu?</h2>
						<p  >Co nejrychleji bude v našich silách<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Jak objednávku zaplatím?</h2>
						<p  >Potom co si vyberete doporučenou službu, vám zašleme odkaz na kterém můžete objednávku zaplatit<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->

<div id="w">
			<div class="container">
				<div class="row centered">
					<div class="col-md-8 col-md-offset-2">
						<h2>Kolik služba stojí?</h2>
						<p  >CHCI je pro Vás zcela zdarma<p/>
					</div><!--col-md-8 -->
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/w -->


    <!--  ********** FOOTER SECTION ********** -->		
		<div id="f">
			<div class="container">
				<div class="row centered mtb">
					<h3>Přihlaste se na čekací listinu ještě dnes</h3>
					<div class="col-md-6 col-md-offset-3 mt" data-effect="slide-bottom">




 <%= form_tag '/interested' do %>
		    				<%= email_field_tag 'email', nil, placeholder: 'Napište prosím Váš e-mail', class: 'subscribe-input' %>
							<%= submit_tag 'Přihlásit', class: 'btn btn-lg btn-green subscribe-submit' %>
          <%= hidden_field_tag :ref, "#{@ref}" %>
        <% end %>
					</div>
				</div><!--/row -->
			</div><!--/container -->
		</div><!--/F -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/retina-1.1.0.js"></script>
    <script src="assets/js/jquery.unveilEffects.js"></script>


<script src="assets/js/typed.min.js"></script>
<script>
 var captionLength = 0;
var caption = '';


$(document).ready(function() {
    setInterval ('cursorAnimation()', 600);
    captionEl = $('#caption');
    testTypingEffect(); 

   
});

function testTypingEffect() {
    caption = $('input#user-caption').val();
    type();
}

function type() {
    captionEl.html(caption.substr(0, captionLength++));
    if(captionLength < caption.length+1) {
        setTimeout('type()', 50);
    } else {
        captionLength = 0;
        caption = '';
    }
}

function testErasingEffect() {
    caption = captionEl.html();
    captionLength = caption.length;
    if (captionLength>0) {
        erase();
    } else {
        $('#caption').html("You didn't write anything to erase, but that's ok!");
        setTimeout('testErasingEffect()', 1000);
    }
}

function erase() {
    captionEl.html(caption.substr(0, captionLength--));
    if(captionLength >= 0) {
        setTimeout('erase()', 50);
    } else {
        captionLength = 0;
        caption = '';
    }	
}

function cursorAnimation() {
    $('#cursor').animate({
        opacity: 0
    }, 'fast', 'swing').animate({
        opacity: 1
    }, 'fast', 'swing');
}
</script>



